<!--A handlebars partial that is used to display the information for a single post, i.e. title, author, date, and content-->
<article class="post">
    <div class="title"><a href="/post/{{id}}">{{title}}</a></div>
    <div class="meta soft-text">
        <p>posted by {{user.username}} on {{format_date created_at}}</p>
    </div>
    <div>{{content}}</div>
</article>